header {
    display: flex;
    justify-content: space-between;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

iframe {
    border: none;
}
